hoist-pattern[]=ts-node # package/vite: postcss-load-config
hoist-pattern[]=postcss # package/vite
hoist-pattern[]=pug # playground/tailwind: @vue/compiler-sfc
shell-emulator=true
auto-install-peers=false


//npm.pkg.github.com/:_authToken=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
@wolfavenger:registry=https://npm.pkg.github.com